@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
	--toastify-color-info: rgb(107 33 168);
	--toastify-icon-color-info: var(--toastify-color-info);
	--toastify-toast-width: 320px;
	--toastify-toast-background: rgb(55 65 81);
	--toastify-toast-min-height: 64px;
	--toastify-toast-max-height: 800px;
	--toastify-font-family: sans-serif;
	--toastify-z-index: 9999;
	--toastify-text-color-info: #fff;
	--toastify-text-color-light: #000000;
	--toastify-text-color-dark: #fff;
}
